# Week 4 Assignment

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Description" data-toc-modified-id="Description-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Description</a></span><ul class="toc-item"><li><span><a href="#readme.txt" data-toc-modified-id="readme.txt-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>readme.txt</a></span></li><li><span><a href="#Story" data-toc-modified-id="Story-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Story</a></span></li><li><span><a href="#File-Structure" data-toc-modified-id="File-Structure-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>File Structure</a></span></li><li><span><a href="#copyExomes.sh" data-toc-modified-id="copyExomes.sh-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>copyExomes.sh</a></span></li><li><span><a href="#createCrisprReady.sh" data-toc-modified-id="createCrisprReady.sh-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>createCrisprReady.sh</a></span></li><li><span><a href="#identifyCrisprSite.sh" data-toc-modified-id="identifyCrisprSite.sh-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>identifyCrisprSite.sh</a></span></li><li><span><a href="#editGenome.sh" data-toc-modified-id="editGenome.sh-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>editGenome.sh</a></span></li><li><span><a href="#exomeReport.py" data-toc-modified-id="exomeReport.py-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>exomeReport.py</a></span></li></ul></li><li><span><a href="#Readme.txt" data-toc-modified-id="Readme.txt-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Readme.txt</a></span></li><li><span><a href="#copyExomes.sh" data-toc-modified-id="copyExomes.sh-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>copyExomes.sh</a></span><ul class="toc-item"><li><span><a href="#Structure-Decision" data-toc-modified-id="Structure-Decision-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Structure Decision</a></span></li><li><span><a href="#Programing-Decision" data-toc-modified-id="Programing-Decision-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Programing Decision</a></span></li><li><span><a href="#Read-in-clinical_data-with-pandas" data-toc-modified-id="Read-in-clinical_data-with-pandas-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Read in clinical_data with pandas</a></span></li><li><span><a href="#Filter-dataframe-by-diameter-size" data-toc-modified-id="Filter-dataframe-by-diameter-size-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Filter dataframe by diameter size</a></span></li><li><span><a href="#Make-exomes-directory-and-copy-over-filtered-files" data-toc-modified-id="Make-exomes-directory-and-copy-over-filtered-files-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Make exomes directory and copy over filtered files</a></span></li><li><span><a href="#Create-motif_manager.py" data-toc-modified-id="Create-motif_manager.py-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>Create motif_manager.py</a></span></li><li><span><a href="#Task-1.4-Complete" data-toc-modified-id="Task-1.4-Complete-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>Task 1.4 Complete</a></span></li></ul></li><li><span><a href="#createCrisprReady.sh" data-toc-modified-id="createCrisprReady.sh-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>createCrisprReady.sh</a></span><ul class="toc-item"><li><span><a href="#Check-size-length-of-.fasta-files" data-toc-modified-id="Check-size-length-of-.fasta-files-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Check size length of .fasta files</a></span></li><li><span><a href="#Build-Animal-Dataframe" data-toc-modified-id="Build-Animal-Dataframe-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Build Animal Dataframe</a></span></li><li><span><a href="#Build-dataframe-counter-for-each-animal" data-toc-modified-id="Build-dataframe-counter-for-each-animal-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Build dataframe counter for each animal</a></span></li><li><span><a href="#Top-Ten-Motifs" data-toc-modified-id="Top-Ten-Motifs-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Top Ten Motifs</a></span></li><li><span><a href="#Top-motifs-for-each-animal" data-toc-modified-id="Top-motifs-for-each-animal-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Top motifs for each animal</a></span></li><li><span><a href="#Count-Report" data-toc-modified-id="Count-Report-4.6"><span class="toc-item-num">4.6&nbsp;&nbsp;</span>Count Report</a></span></li><li><span><a href="#Create-motif_manager.py" data-toc-modified-id="Create-motif_manager.py-4.7"><span class="toc-item-num">4.7&nbsp;&nbsp;</span>Create motif_manager.py</a></span></li></ul></li></ul></div>

## Description

<strong>Due Tuesday Week 4 </strong><br>
Beginning Python scripting <br>
Key concepts covered: Apply Bash and Python practices to solving problems

### readme.txt

<strong>Important! Your assignment must contain a readme.txt file that indicates the exact command used to execute your script on the AWS server. It should indicate what inputs are used, and indicate what outputs are produced.
Use relative paths so that if I copied your week4 folder to any other directory, it will still execute properly.</strong>

### Story

Dr. Banner leads a team of researchers that have each discovered a unique eukaryotic organism. They all seem to be related to each other and the team has tried to sequence their specimens. Homologous genes between each eukaryote were labeled with the same gene name. Each of organisms have some degree of gamma ray resistance and Dr. Banner constructed a list of motifs that may be associated with resistance. He wants to use only the most abundant motif and knockout the genes that contain these motifs using CRISPR.  He first needs to identify a list of suitable CRISPR gene candidates and submit a report. 

Inputs:

/home/rbif/week4/clinical_data.txt <br>
/home/rbif/week4/motif_list.txt <br>
/home/rbif/week4/exomes/*.fasta <br>

### File Structure

notes: Task completed. Tim, I am not sure if you want me to make a bash script that does this with something like:
```
mkdir week4
rsync . /home/ruggm/BioInformatics/001_RBIF-100-1DL/week4
```
or just make it here. I am going to assume that I have done this successfully, but let me know if you want me to make a little build_me script.

<strong>Task 1.3 completed</strong>

### copyExomes.sh

Read in the clinical data file and identify the samples that have a diameter between 20 and 30 mm long (inclusive) and have had their genomes sequenced. Copy the identified exomes using the sample code names to a new directory called exomes.<br><br><strong>Task 1.4 completed</strong>

### createCrisprReady.sh

Using the motif_list.txt file, identify the 3 highest occurring motifs in each exome inside the exomes folder. 
Output the headers and corresponding sequences to a new file called exomename_topmotifs.fasta.  **This means to only select for the genes that have at least one of the three top motifs and output to a new file
Rename the headers of the exomename_topmotifs.fasta files to include the motif sequences and their count. (Example: >gene1  ===> >gene1 ATGC_1 AAAA_38)

Note: The sequence does not need to contain all 3 motifs, it just needs to have at least 1 of them.
“exomename_topmotifs.fasta” should contain the code name of the sample. For example, fox_topmotifs.fasta.

### identifyCrisprSite.sh

For each gene inside the exomename_topmotifs.fasta files, identify a suitable CRISPR site.
Find sequences that contain “NGG”, where “N” can be any base, that has at least 20 basepairs upstream.
Example of upstream: ATGAACGTCTGTAAGAACTGCGGATCTGTCA (Everything left of CGG is upstream of the DNA) 
Output suitable candidates (headers and sequences) to a new file called exomenames_precrispr.fasta

### editGenome.sh

Using those files, write a script that will insert the letter A right before the NGG site. Output to a new file called exomename_postcrispr.fasta

### exomeReport.py

Create a single report that summarizes the findings. It should be a text file that lists the name of the discoverer of the organism, the diameter, the code name and the environment it came from. -Additionally, include how many genes the organism has in common with all of the other organisms, and which genes are unique to that organism.
Note: You are only comparing that organism against the other organisms of the same cohort (20-30mm in diameter). ie You are summarizing the motif-containing exomes with just the CRISPR-ready genes, in otherwords using the exomenames_precrispr.fasta (or exomenames_postcrispr.fasta since the headers should be identical between those two files)
There may not be any genes in common in that entire cohort.

Example:
Organism FOX, discovered by DISCOVERER, has a diameter of DIAMETER, and has the NUMBER of genes in common with the cohort, and the following genes unique to only itself: gene1, gene4, gene823

## Readme.txt

## copyExomes.sh

### Structure Decision

This is a little confusing to me Tim, we already have a file 
exomes. Do you want me to over write this folder and delete the 
Older .fasta files? 

Seems weird to overwrite everything like that and destroy
The old .fasta files. So I am going to move the exomes folder to a 
exomes_given and make a new directory as asked.

In [1]:
%%bash 

ls

clinical_data.txt
copyExomes.sh
createCrisprReady.sh
exomes
exomes_given
motif_list.txt
motif_manager.py
__pycache__
Week_4.ipynb

### Programing Decision

It seems like I have two choices to make all of this work. I can make a bunch of little scripts that play together in a modular fashion or I can maybe a larger python script that is called in different bash scripts. For such a little project, it seems strained to make a bunch of little scripts to fry all together. Therefore, I am going to build one larger python script that will do most of the heavy lifting and call all of the parts of that script from different parts of the bash shell. <br><br>
It looks like you are giving me a lot of latitude here, so I am going to use pandas.

### Read in clinical_data with pandas

In [2]:
import os, shutil
import pandas as pd
import numpy as np

def copy_exomes():
    df = pd.read_csv("clinical_data.txt", sep='\t', engine='python')
    return df

df = copy_exomes()
df.head()

  Discoverer    Location  Diamater (mm) Environment     Status code_name
0       Kerr  New Jersey             68       River  Sequenced     addax
1   Schacher      Sweden             44      Sewage  Sequenced    badger
2         No     Florida              6       River  Sequenced  basilisk
3    Farrior  New Jersey             75       River  Sequenced       bat
4       Look     Florida             66      Sewage  Sequenced      bear

In [3]:
df.dtypes

Discoverer       object
Location         object
Diamater (mm)     int64
Environment      object
Status           object
code_name        object
dtype: object

In [4]:
df.columns

Index(['Discoverer', 'Location', 'Diamater (mm)', 'Environment', 'Status',
       'code_name'],
      dtype='object')

This looks rather clean, moving to filer by the requested diameters.

### Filter dataframe by diameter size

In [5]:
mover = df[(20 <= df['Diamater (mm)']) & (df['Diamater (mm)'] <= 30)]
mover.head()

,Discoverer,Location,Diamater (mm),Environment,Status,code_name
9,Kelleher,New Jersey,26,Swamp,Not sequenced,bunny
11,Rivet,Sweden,26,Swamp,Sequenced,chicken
17,Forness,New Jersey,30,Sewage,Sequenced,dromedary
21,Vanderburg,Sweden,26,River,Sequenced,fox
22,Gorham,New Jersey,24,Sewage,Sequenced,goat

### Make exomes directory and copy over filtered files

In [6]:
if not os.path.exists("exomes"):
    os.mkdir("exomes")
else:
    shutil.rmtree("exomes")
    os.mkdir("exomes")
    
for i in mover["code_name"].tolist():
    print("copying {}.fasta file".format(i))
    shutil.copy2("exomes_given/{}.fasta".format(i), 
                 "exomes/{}.fasta".format(i))

copying bunny.fasta file
copying chicken.fasta file
copying dromedary.fasta file
copying fox.fasta file
copying goat.fasta file
copying gopher.fasta file
copying gorilla.fasta file
copying lamb.fasta file
copying lovebird.fasta file
copying turtle.fasta file

### Create motif_manager.py

In [7]:
%%writefile motif_manager.py
#!/usr/bin/env python

import os, shutil
import pandas as pd
import numpy as np
from itertools import combinations, permutations

def copy_exomes():
    # Read in tab deliniated file
    df = pd.read_csv("clinical_data.txt", sep='\t', engine='python')
    
    # Filter out by needed terms
    mover = df[(20 <= df['Diamater (mm)']) & (df['Diamater (mm)'] <= 30)]
    print("The following entries are of interest:")
    print(mover)
    
    # Make Directory Structure
    if not os.path.exists("exomes"):
        os.mkdir("exomes")
    else:
        shutil.rmtree("exomes")
        os.mkdir("exomes")
    
    # Check to see if path exists, it it does, remove and create
    if not os.path.exists("exomes"):
        os.mkdir("exomes")
    else:
        shutil.rmtree("exomes")
        os.mkdir("exomes")

    # Copy files
    for i in mover["code_name"].tolist():
        print("copying {}.fasta file".format(i))
        shutil.copy2("exomes_given/{}.fasta".format(i), 
                     "exomes/{}.fasta".format(i))

Overwriting motif_manager.py

In [8]:
%%writefile copyExomes.sh
#!/bin/bash

python -c 'import motif_manager; motif_manager.copy_exomes()'

Overwriting copyExomes.sh

### Task 1.4 Complete

## createCrisprReady.sh

### Check size length of .fasta files

In [9]:
for fasta in os.listdir("exomes"):
    with open('exomes/{}'.format(fasta)) as f:
        lines = [line.rstrip() for line in f]
        print(len(lines))
        
with open("motif_list.txt") as f:
    motifs = [line.rstrip() for line in f]
    
print(motifs)

1000
1000
1000
1000
1000
1000
1000
1000
1000
1000
['TTTTTTTTTACA', 'TACATCTCTCTC', 'TTTTTCTCTTTT', 'CTTCAAAATTTT', 'TCTCTACATTTT', 'CTTCAAAATCTC', 'AAAAAAAAAAAA', 'TACACTTCTTTT', 'AAAATCTCCTTC', 'CTTCTCTCTTTT', 'TTTTTACACTTC', 'AAAAAAAATACA', 'TTTTCTTCTCTC', 'TTTTTTTTAAAA', 'TTTTTCTCTCTC', 'CTTCCTTCTTTT', 'TACATTTTAAAA', 'CTTCAAAAAAAA', 'AAAATTTTTACA', 'TTTTAAAATCTC', 'TACACTTCTACA', 'TACATACACTTC', 'TACATTTTTCTC', 'TCTCTACATCTC', 'TACATCTCCTTC', 'TACATCTCTTTT', 'TCTCTCTCTACA', 'CTTCTTTTAAAA', 'CTTCTTTTTTTT', 'TTTTTTTTTTTT', 'TCTCAAAATTTT', 'TTTTCTTCTACA', 'AAAATTTTAAAA', 'TCTCTTTTTACA', 'TACACTTCTCTC', 'TACATACAAAAA', 'TTTTTCTCAAAA', 'TACATACATACA', 'TCTCTCTCTTTT', 'AAAATCTCTCTC', 'AAAATTTTCTTC', 'AAAATACATCTC', 'TCTCAAAAAAAA', 'TCTCAAAACTTC', 'CTTCCTTCAAAA', 'AAAATTTTTTTT', 'AAAATCTCAAAA', 'TTTTAAAAAAAA', 'TTTTAAAATTTT', 'AAAAAAAATCTC', 'TTTTCTTCAAAA', 'CTTCCTTCTCTC', 'TTTTAAAACTTC', 'AAAACTTCTACA', 'TCTCCTTCCTTC', 'AAAATACACTTC', 'TACAAAAATCTC', 'AAAACTTCCTTC', 'TTTTTCTCTACA', 'AAAAAAAACTTC', 'CTTCTTTTTCTC', 'CTTCTACATACA', 'AAAACTTCAAAA', 'TCTCCTTCTACA', 'TTTTTACATACA', 'TCTCTACACTTC', 'TCTCCTTCAAAA', 'TACAAAAACTTC', 'AAAATCTCTTTT', 'AAAATACATTTT', 'TTTTTACAAAAA', 'CTTCTCTCAAAA', 'TTTTTTTTCTTC', 'CTTCTCTCTCTC', 'TTTTTACATTTT', 'TTTTTCTCCTTC', 'TACATACATTTT', 'TACATTTTTTTT', 'AAAATACATACA', 'AAAACTTCTCTC', 'TACACTTCAAAA', 'TCTCTACAAAAA', 'TTTTCTTCTTTT', 'TACAAAAAAAAA', 'TACATTTTCTTC', 'AAAAAAAATTTT', 'CTTCAAAACTTC', 'CTTCTACATTTT', 'TACATACATCTC', 'CTTCTTTTCTTC', 'TCTCTCTCCTTC', 'CTTCTACATCTC', 'TCTCCTTCTCTC', 'CTTCTACACTTC', 'TCTCTCTCTCTC', 'TTTTTACATCTC', 'AAAATACAAAAA', 'TACAAAAATTTT', 'TACATCTCAAAA', 'TCTCCTTCTTTT']

It is very helpful that all of these lists have the same size.

### Build Animal Dataframe

In [10]:
animal_house = []
for fasta in os.listdir("exomes"):
    with open('exomes/{}'.format(fasta)) as f:
        lines = [line.rstrip() for line in f]
    entry = {lines[2*i][1:]:lines[2*i + 1] for i in range(0,500)}
    entry["name"] = fasta[:-6]
    animal_house.append(entry)

        
with open("motif_list.txt") as f:
    motifs = [line.rstrip() for line in f]
        
animal_house = pd.DataFrame(animal_house)
animal_house.set_index('name', inplace=True)

In [11]:
animal_house[["gene1"]]

                                                       gene1
name
lamb       ATGTTCATTTCATCAACCCACCACACCCACTATACCTTCTCCTTCT...
chicken    ATGCTTATCAATGCTTGATAAAAACCACACTTCACTACCACAATCT...
gopher     ATGCATTATATATCTAAACAATAAAATCACTAGAAATTTCCAATAA...
dromedary  ATGCAACTCTACACCCTTCTTCATTATATTTTATATTAATCGTTGT...
turtle     ATGATACAACCCAAAGCAAGTCATACCTCCACTTAATTACAAAACG...
bunny      ATGCTTATTAATATTTATTTATATACACTTCTACAAACCCTACCTA...
lovebird   ATGAACGCCCCACAACGACTCCCACATTACCACGTCATCACCAAAC...
goat       ATGATAATATTCCTCACAAATATCCTTCATTAATACACATTCATTT...
fox        ATGTTCTAACAATAAATTTTTTACACTTCTATCAATTACTTATCAT...
gorilla    ATGAGCATCTACTGACATTTTTACACTTCTAATTGCCTCATATCCC...

It looks like we have two different lines of attack here. First, I could make a tensor of all of the different motifs and then collapse the tensor by count. Also, I could crush down genes inside each animal and then explore the values. The tensor option seems the most fun, but I think we will stick to a plain Jane adding a column count inside of the dataframe.

### Build dataframe counter for each animal

In [12]:
list(animal_house.index)

['lamb',
 'chicken',
 'gopher',
 'dromedary',
 'turtle',
 'bunny',
 'lovebird',
 'goat',
 'fox',
 'gorilla']

In [13]:
animal_data = {}
count_list = []
top_per_animal = {}
for animal in list(animal_house.index):
    animal_data[animal] = animal_house.loc[[animal]].T
    for motif in motifs:
        animal_data[animal][motif] = animal_data[animal][animal].apply(lambda a: a.count(motif))
                
    # Suming up columns and rows
    animal_data[animal].loc['{}'.format(animal),:]= animal_data[animal].sum(axis=0)
    
    # There is a quirk in Pandas where the Text column is added, will drop
    animal_data[animal].drop([animal], axis=1, inplace = True)
    
    # Casting to ints
    animal_data[animal] = animal_data[animal].astype(int)
    
    
    count_list.append(animal_data[animal].loc[['{}'.format(animal)]].T)
    top_per_animal[animal] = list(animal_data[animal].loc[animal].nlargest(3).index)

count_values = pd.concat(count_list, axis=1, sort = True)

#Total sum per row: 
count_values.loc[:,'sum'] = count_values.sum(axis=1)

### Top Ten Motifs

In [14]:
count_values["sum"].nlargest(10)

name
TTTTTACACTTC    3291
TACACTTCTACA    1300
CTTCAAAATTTT    1284
TACACTTCAAAA     117
TACACTTCTTTT     116
AAAATTTTTACA      96
TACACTTCTCTC      86
TTTTTTTTTACA      78
CTTCCTTCAAAA      73
TTTTCTTCAAAA      70
Name: sum, dtype: int64

In [15]:
count_values.head()

,lamb,chicken,gopher,dromedary,turtle,bunny,lovebird,goat,fox,gorilla,sum
name,,,,,,,,,,,
AAAAAAAAAAAA,6,7,5,5,7,2,3,8,1,9,53
AAAAAAAACTTC,4,2,4,5,7,0,2,5,2,11,42
AAAAAAAATACA,0,1,5,2,10,10,8,3,1,5,45
AAAAAAAATCTC,5,6,4,6,9,4,6,2,12,10,64
AAAAAAAATTTT,3,8,9,2,6,12,3,4,1,7,55

In [16]:
import matplotlib.pyplot as plt

count_values["sum"].nlargest(10).plot.bar(x="name");

### Top motifs for each animal

In [23]:
top_per_animal["lamb"]

['TTTTTACACTTC', 'CTTCAAAATTTT', 'TACACTTCTACA']

In [17]:
for animal in top_per_animal:
    print(animal)
    print(top_per_animal[animal])

lamb
['TTTTTACACTTC', 'CTTCAAAATTTT', 'TACACTTCTACA']
chicken
['TTTTTACACTTC', 'TACACTTCTACA', 'CTTCAAAATTTT']
gopher
['TTTTTACACTTC', 'CTTCAAAATTTT', 'TACACTTCTACA']
dromedary
['TTTTTACACTTC', 'CTTCAAAATTTT', 'TACACTTCTACA']
turtle
['TTTTTACACTTC', 'TACACTTCTACA', 'CTTCAAAATTTT']
bunny
['TTTTTACACTTC', 'CTTCAAAATTTT', 'TACACTTCTACA']
lovebird
['TTTTTACACTTC', 'TACACTTCTACA', 'CTTCAAAATTTT']
goat
['TTTTTACACTTC', 'CTTCAAAATTTT', 'TACACTTCTACA']
fox
['TTTTTACACTTC', 'TACACTTCTACA', 'CTTCAAAATTTT']
gorilla
['TTTTTACACTTC', 'CTTCAAAATTTT', 'TACACTTCTACA']

Here we can see that the same three motifs do in fact dominate all
of the various animals.

### Count Report

In [ ]:
df = animal_data["lamb"][top_per_animal[animal]]


df[df != 0]

### Create motif_manager.py

In [19]:
%%writefile motif_manager.py
#!/usr/bin/env python

import os, shutil
import pandas as pd
import numpy as np
from itertools import combinations, permutations

def copy_exomes():
    # Read in tab deliniated file
    df = pd.read_csv("clinical_data.txt", sep='\t', engine='python')
    
    # Filter out by needed terms
    mover = df[(20 <= df['Diamater (mm)']) & (df['Diamater (mm)'] <= 30)]
    print("The following entries are of interest:")
    print(mover)
    
    # Make Directory Structure
    if not os.path.exists("exomes"):
        os.mkdir("exomes")
    else:
        shutil.rmtree("exomes")
        os.mkdir("exomes")
    
    # Check to see if path exists, it it does, remove and create
    if not os.path.exists("exomes"):
        os.mkdir("exomes")
    else:
        shutil.rmtree("exomes")
        os.mkdir("exomes")

    # Copy files
    for i in mover["code_name"].tolist():
        print("copying {}.fasta file".format(i))
        shutil.copy2("exomes_given/{}.fasta".format(i), 
                     "exomes/{}.fasta".format(i))
        
def create_crispy():
    animal_house = []
    
    #First build dataframe animals in exome dir
    for fasta in os.listdir("exomes"):
        with open('exomes/{}'.format(fasta)) as f:
            lines = [line.rstrip() for line in f]
        entry = {lines[2*i][1:]:lines[2*i + 1] for i in range(0,500)}
        entry["name"] = fasta[:-6]
        animal_house.append(entry)

    animal_house = pd.DataFrame(animal_house)
    animal_house.set_index('name', inplace=True)  
    
    #Iterate through motif_list
    with open("motif_list.txt") as f:
        motifs = [line.rstrip() for line in f]

    # Build counting dataframe for each animal
    animal_data = {}
    count_list = []
    top_per_animal = {}
    
    for animal in list(animal_house.index):
        animal_data[animal] = animal_house.loc[[animal]].T
        for motif in motifs:
            animal_data[animal][motif] = animal_data[animal][animal].apply(lambda a: a.count(motif))
    
        # Suming up columns and rows
        animal_data[animal].loc['{}'.format(animal),:]= animal_data[animal].sum(axis=0)
        
        # There is a quirk in Pandas where the Text column is added, will drop
        animal_data[animal].drop([animal], axis=1, inplace = True)
        
        # Casting to ints
        animal_data[animal] = animal_data[animal].astype(int)
        
        # Add the sum into a count_column list
        count_list.append(animal_data[animal].loc[['{}'.format(animal)]].T.dropna())
        
        # Populate top 3 lists
        top_per_animal[animal] = list(animal_data[animal].loc[animal].nlargest(3).index)


    # Join all of the columns into one dataframe
    count_values = pd.concat(count_list, axis=1)
    
    #Total sum per row: 
    count_values.loc[:,'sum'] = count_values.sum(axis=1)
    
    print("\nTop Ten Motifs")
    print(count_values["sum"].nlargest(10))
    print('\nTop Motifs Per Animal')
    for animal in top_per_animal:
        print(animal)
        print(top_per_animal[animal])

Overwriting motif_manager.py

In [20]:
%%writefile createCrisprReady.sh
#!/bin/bash

python -c 'import motif_manager; motif_manager.create_crispy()'

Overwriting createCrisprReady.sh